version: '3'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: django-web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./:/usr/src/app/
    ports:
      - 8000:8000
    restart: always
    env_file:
      - ./.env
    depends_on:
      - postgres

  postgres:
    image: postgres:13-alpine
    container_name: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data/
    env_file:
      - ./.env.db

  rabbitmq:
    image: "rabbitmq:3-management"
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  celery:
    container_name: celery
    build: 
      context: .
      dockerfile: Dockerfile
    restart: always
    command: celery -A project worker -l info
    volumes:
      - ./:/usr/src/app/
    environment:
      - IS_PERSISTENT=TRUE
    env_file:
      - .env
    depends_on:
      - postgres
      - rabbitmq

volumes:
  pgdata: